/* ticker-frontend/src/components/Parent.css */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Espaçamento abaixo do campo de busca */
}

.search-input {
  flex: 1; /* Faz o input ocupar todo o espaço disponível */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px; /* Bordas arredondadas */
}

.search-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none; /* Remove a borda esquerda para unir com o input */
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border-radius: 0 4px 4px 0; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.search-button:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

/* ticker-frontend/src/components/Parent.css */
.error-message {
  color: red; /* Cor do texto da mensagem de erro */
  margin-top: 10px; /* Espaçamento acima da mensagem */
}
